<h1> <%=@place["name"] %> </h1>

<ul>
  <% for entry in @entries %>
    <li>
    <%= entry["title"] %>
    <%= entry["posted_on"] %>
    <%= entry["description"] %>
    </li>
  <% end %>
<ul>
  
  <h2>Entry_1</h2>
  <h3>Fecha_1</h3>
  <p> Texto_1 </p>

  <h2>Entry_2</h2>
  <h3>Fecha_2</h3>
  <p> Texto_2 </p>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>